@model IEnumerable<LIMS.Application.Responses.LaboratoryResponse>

@{
    ViewData["Title"] = "Laboratories";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h2>@ViewData["Title"]</h2>
<hr />
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<a asp-action="CreateLab" asp-controller="Laboratory" class="btn btn-primary mb-3">Add Laboratory</a>
<a asp-action="CreateInstrument" asp-controller="Instrument" class="btn btn-primary mb-3">Add Instrument</a>

<!-- Display List of Laboratories -->
<table class="table table-responsive table-hover">
    <thead>
        <tr class="table-active">
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Contact Number</th>
            <th>Instruments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var lab in Model)
            {
                <tr>
                    <td>@lab.Id</td>
                    <td>@lab.Name</td>
                    <td>@lab.Location</td>
                    <td>@lab.ContactNumber</td>
                    <td>
                        @if (lab.Instruments != null && lab.Instruments.Any())
                        {
                            <table class="table table-sm" style="width: 100%; max-height: 100px; overflow-y: auto;" size="5">
                                <thread>
                                    <tr class="table table-sm">
                                        <th>Id</th>
                                        <th>Name</th>
                                    </tr>
                                </thread>
                                <tbody>
                                    @foreach (var instrument in lab.Instruments)
                                    {
                                        <tr>
                                            <td><a asp-controller="Instrument" asp-action="GetInstrument" asp-route-id="@instrument.Id">@instrument.Id</a></td>
                                            <td><a asp-controller="Instrument" asp-action="GetInstrument" asp-route-id="@instrument.Id">@instrument.Name</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <form asp-controller="Laboratory" asp-action="UpdateLab" method="get">
                                <input type="hidden" name="id" value="@lab.Id" />
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                            <form asp-controller="Laboratory" asp-action="DeleteLab" method="delete" onsubmit="return confirm('Are you sure you want to delete this laboratory?');">
                                <input type="hidden" name="id" value="@lab.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    No Laboratories available
                </td>
            </tr>
        }

    </tbody>
</table>