@model IEnumerable<LIMS.Application.Responses.LaboratoryResponse>

@{
    ViewData["Title"] = "Laboratories";
}

<h2>@ViewData["Title"]</h2>
<hr />

<a asp-action="CreateLab" asp-controller="Laboratory" class="btn btn-primary mb-3">Add Laboratory</a>

<!-- Display List of Laboratories -->
<table class="table table-responsive table-hover">
    <thead>
        <tr class="table-active">
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Contact Number</th>
            <th>Instruments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var lab in Model)
            {
                <tr>
                    <td>@lab.Id</td>
                    <td>@lab.Name</td>
                    <td>@lab.Location</td>
                    <td>@lab.ContactNumber</td>
                    <td>
                        @if (lab.Instruments != null && lab.Instruments.Any())
                        {
                            @foreach (var instrument in lab.Instruments)
                            {
                                @instrument <br />
                            }
                        }
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-controller="Laboratory" asp-action="" asp-route-id="@lab.Id" class="btn btn-primary">Update</a>
                            <a asp-controller="Laboratory" asp-action="" asp-route-id="@lab.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    No Laboratories available
                </td>
            </tr>
        }

    </tbody>
</table>